<div class="cakemodel-content">
    <% if recipe_count(@cakemodel) == 0 %>
      <p>Acest model nu are încă rețete atașate!</p>
    <% else %>
    <p>Conținut:</p>
    <% components(@cakemodel).each do |cm| %>
      <p>
        <%= link_to recipe_path(cm.recipe) do %>
          <b><%= cm.recipe.name %></b>
          <% if isUserAdmin? %>
            <%= link_to cakemodel_model_component_path(@cakemodel, cm), data: { turbo_method: :delete, turbo_confirm: "Ești sigur că vrei să-l ștergi pe ?"} do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        <%end %>
        <p class="cakemodel-content__recipe-additional">(<%= cm.weight %>kg - <%= cm.recipe.price %> de lei/kg)</p>
    <% end %>
      <hr>
    <% end %>
  </p>
  <div class="cakemodel-content__details">
    <ul>
      <li>Design: <%= @design.name %> (+ <%= humanized_money_with_symbol(@design.price) %>/kg)</li>
      <li><%= @cakemodel.content %></li>
      <br>
      <li>Greutate totală a modelului afișat: <%= total_weight(@cakemodel).round(2) %> kg. Preț total pentru modelul afișat: <u><%= total_price(@cakemodel) ? total_price(@cakemodel).round(2) : '--,--' %> lei</u>.</li>
    </ul>
    <hr>
    <p>Fotografiile sunt reale, iar produsul finit va corespunde acestei descrieri.</p>
    <p><b>Orice modificare a rețetei, a proporțiilor, a gramajului sau a designului (acolo unde este cazul) va duce la modificarea prețului.</b></p>
  </div>
</div>
