<% content_for(:title) {'Cont nou Cofetăria Irina Bacău'} %>
<div class="container signup color-fonts">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 top-margin">
      <p class="text-center">Formular de înscriere</p>
      
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
      
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: 'Adresă de e-mail' %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label:  "Parola"%>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: "Confirmă parola" %>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, "Trimite", class: "btn btn-block button-rounded button-default" %>
        </div>
      <% end %>
      
    </div>
  </div>
      <div class="row position-relative justify-content-center top-margin">
        <div class="col-10 col-md-8 col-lg-6">
          <h6 class="text-center fonts-family">sau</h6>
            <%= render "devise/shared/links" %>
        </div>
      </div>
</div>
