<div class="card-container card-container-recipes">
  <%= link_to recipe_path(recipe) do %>
    <div class="card-link-container card-link-container-recipes">
      <div class="card-image card-image-recipes">
        <% if recipe.photo.present? %> <!--if begining-->
        <%= cl_image_tag recipe.photo.key, alt: recipe.name %>
        <% else %>
        <%= cl_image_tag (choose_photo), alt: recipe.name %>
        <% end %> <!--if end-->
      </div>
      <div class='card-title card-title-recipes'>
        <div class="card-title-text">
          <%= "#{recipe.name}" %>
        </div>
        <div class='card-rating d-flex justify-content-center align-items-center'>
            <%= "#{recipe.overall_rating.to_f.round(2)}" if recipe.no_of_ratings.to_i > 0 %>
            <%= '⭐️' * recipe.overall_rating.to_i %> 
            <%= recipe.no_of_ratings %> 
        </div>
        <!-- <div class="card-price-sec">
          <% if recipe.price != 0 %>
            <p><%= humanized_money_with_symbol(recipe.price).downcase %> <span>/<%= recipe.kg_buc %></span></p>
          <% elsif recipe.price == 0 %>
            <p>-,-- lei <span>/<%= recipe.kg_buc %></span></p>
          <% end %>
        </div> -->
        <div class="card-recipe-description d-flex justify-content-center align-items-center">
          <%= card_recipe_description(recipe.content) %>...
        </div>
      </div>
    </div>  
  <% end %>
      <% if current_user && current_user.admin%>
        <div class='card-crud'>
          <% if policy(recipe).edit? %>
            <%= link_to edit_category_recipe_path(recipe.category_id, recipe.id) do %>
            <i class="far fa-edit"></i>
            <% end %>
          <% end %>

        <% if policy(recipe).destroy? %>
          <%= link_to category_recipe_path(recipe.category_id, recipe.id), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
