<div class="card-container-recipes">
  <%= link_to recipe_path(recipe) do %>
    <div class="card-link-container-recipes">
      <div class="card-image-recipes">
        <% if recipe.photo.present? %> <!--if begining-->
          <%= cl_image_tag(recipe.photo.key, alt: recipe.name, fetch_format: :webp, width: 500, crop: :scale) %>
        <% else %>
          <%= cl_image_tag('4792t30n2v5ovn35m550ffa45a24.png', alt: recipe.name, class: 'card-image__no-image', fetch_format: :webp, width: 500, crop: :scale) %>
          <p class="card-image__no-image-text">Fără imagine</p>
        <% end %> <!--if end-->
      </div>
      <div class='card-title-recipes'>
        <div class="card-title-text">
          <h2><%= "#{recipe.name}" %>
          <% if recipe.vegan %><i class="fa-solid fa-carrot"></i><%else%><i class="fa-solid fa-egg"></i><% end %></h2>
        </div>
        <div class="card-description">
          <span><%= card_recipe_description(recipe.content) %>... <i class="fa-solid fa-circle-info"></i></span>
        </div>
        <div class='card-rating d-flex justify-content-center align-items-center'>
            <%= "Scor #{recipe.overall_rating.to_f.round(2)} din" if recipe.no_of_ratings.to_i > 0 %>
            <%= recipe.no_of_ratings %>
            <%= '☆' * recipe.overall_rating.to_i %>
        </div>
      </div>
    </div>  
    <% end %>
    <div class="card-price-sec">
      <% if recipe.price != 0 %>
      <div class="price-design">
        <span><% humanized_money_with_symbol(recipe.price).split(Regexp.union([',', ' '])).each do |el| %>
            <span><%= el.downcase %></span>
          <% end %>
        </span>
        <hr>
        <span class="price-design-kg"><%= recipe.kg_buc %></span>
      </div>
      <% elsif recipe.price == 0 %>
      <div class="price-design">
        <span>-,-- lei</span>
        <hr>
        <span class="price-design-kg"><%= recipe.kg_buc %></span>
      </div>
      <% end %>
    </div>
      <% if current_user && current_user.admin%>
        <div class='card-crud'>
          <% if policy(recipe).edit? %>
            <%= link_to edit_category_recipe_path(recipe.category, recipe) do %>
            <i class="far fa-edit"></i>
            <% end %>
          <% end %>

        <% if policy(recipe).destroy? %>
          <%= link_to category_recipe_path(recipe.category, recipe), method: :delete, data: {confirm: 'Vrei să ștergi acest produs?'} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
