<div class="card-container">
  <%= link_to recipe_path(recipe) do %>
    <div class="card-link-container">
      <div class="card-image">
        <% if recipe.photo.present? %> <!--if begining-->
        <%= cl_image_tag recipe.photo.key, alt: recipe.name %>
        <% else %>
        <%= cl_image_tag ("0043_336x240_qtzdxl.png"), alt: recipe.name %>
        <% end %> <!--if end-->
      </div>
      <div class='card-title'>
        <p><%= "#{recipe.name}" %></p>
      </div>
      <div class="card-price">
        <% if recipe.price != 0 %>
          <p><%= humanized_money_with_symbol(recipe.price).downcase %> <span>/<%= recipe.kg_buc %></span></p>
        <% elsif recipe.price == 0 %>
          <p>-,-- lei <span>/<%= recipe.kg_buc %></span></p>
        <% end %>
      </div>
    </div>  
  <% end %>

      <div class='card-rating'>
        <p class=''><%= "#{recipe.overall_rating.to_f.round(2)}"%>
          <%= '⭐️' * recipe.overall_rating.to_i %> <%= recipe.no_of_ratings %> </p>
      </div>

<!-- ok -->
      <% if current_user && current_user.admin%>
        <div class='card-crud'>
          <% if policy(recipe).edit? %>
            <%= link_to edit_category_recipe_path(recipe.category_id, recipe.id) do %>
            <i class="far fa-edit"></i>
            <% end %>
          <% end %>

        <% if policy(recipe).destroy? %>
          <%= link_to category_recipe_path(recipe.category_id, recipe.id), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
