<% content_for(:title) {"Rețete de #{Category.find(params[:category_id]).name.downcase }"} %>
<div class="container recipe-cards_container pt-5 mb-5 pb-5">
  <h3 class='text-center recipe-cards_title pt-2'><%= Category.find(params[:category_id]).name %> <span
      class="small-letters">(<%= @recipes.count %>)</span></h3>
  <div class="row justify-content-center">
    <% @recipes.each do |r| %>
    <div class="col-sm-5 col-md-5 col-lg-3 recipe-card_container">
      <%= cl_image_tag r.photo.key, class: 'card-image recipe-card_image' %> <br>
      <h4 class='text-center p-1 recipe-card_name color-fonts'><%= r.name %></h4>
      <div class='recipe-card_rating-total'>
        <p class='text-center color-fonts'><%= "#{r.overall_rating.to_f.round(2)}"%> <%= '⭐️' * r.overall_rating.to_i %> <%= r.no_of_ratings %> </p>
      </div>
      <div class="recipe-card_describe-card">
        <p class='text-center card-content p-2 color-fonts'><%= r.content %></p>
      </div>
      <%= link_to 'Rating & recenzii', recipe_path(r.id), class: 'text-center recipe-rating_button'%>

      <div class='recipe-card_admin-links'>
        <% if policy(r).edit? %>
        <%= link_to 'Edit |', edit_category_recipe_path(r.category_id, r.id) %>
        <% end %>
        <% if policy(r).destroy? %>
        <%= link_to 'Delete', category_recipe_path(r.category_id, r.id), method: :delete %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% if policy(Recipe).new? %>
  <div>
    <p class="btn rounded-pill btn-block new-button_bottom edit-fonts"><%= link_to 'Rețetă nouă', new_category_recipe_path %></p>
  </div>
  <% end %>
</div>