<div class="recipe-show-container">
  <div class="recipe-show-back-btn">
    <%= render 'partials/back_buttons' %>
  </div>
  <div class="recipe-show-main">
    <div class="recipe-show-main-image">
      <% if @recipe.photo.present? %>
        <%= cl_image_tag @recipe.photo.key, alt: @recipe.name %>
      <% else %>
        <%= cl_image_tag ("4792t30n2v5ovn35m550ffa45a24.png"), alt: @recipe.name %>
      <% end %>
      <p class="recipe-show-main-price"><%= humanized_money_with_symbol(@recipe.price) %> <span>/<%= @recipe.kg_buc %></span></p>
    </div>
      <div class="recipe-show-main-description">
        <h1><%= @recipe.name %></h1>
        <p><%= @recipe.content %></p>
    <% if @recipe.category.name.downcase == 'torturi' %>
        <p>Imaginile sunt cu titlu de prezentare. Prețul per kg se referă strict la rețeta prezentată, 
        design <span class='standard'>standard <i class="fas fa-hand-point-left"></i><%= image_tag('10409605_790474060985349_2211207606953072516_n.png', class: "recipe-show-std-image") %></span>.</p>
        <p>Prețuri pentru design la cerere, după model furnizat de client:</p>
        <p>Design la cerere simplu: 65 lei/kg</p>
        <p>Design la cerer cu accesorii modelate sau turnate în ciocolată: 80 lei/kg + figurinele.</p>
    <% end %>
        <!-- <div class="p-0 create-item">
          <%= simple_form_for @item do |f| %>
          <%= f.input :quantity, label: "Alege cantitatea" %>

          <% if current_user %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>
          <%= f.hidden_field :name, :value => @recipe.name %>
          <%= f.hidden_field :kg_buc, :value => @recipe.kg_buc %>
          <%= f.hidden_field :price_cents, :value => @recipe.price_cents %>
          <% if user_signed_in? %>
          <%= f.submit "Adaugă în coș", class: 'btn button-default button-rounded d-inline' %>
          <% else %>
            <p class="rem1">Comanda online  nu este încă disponibilă!</p>
          <% end %>
          <% end %>
        </div> -->
      </div>
  </div>

  <div class="recipe-show-ratings">
    <h2>Rating & recenzii </h2>
    <div class="recipe-show-ratings-container">
      <div class="recipe-show-ratings-reviews-form">
        <%= render 'partials/reviews_new_form' %>
      </div>
      <div class="recipe-show-ratings-reviews-container">
        <%= render 'partials/reviews_index' %>
      </div>
    </div>
  </div>
</div>
