<div class="container edit-fonts pt-5">
  <%= link_to 'Înapoi', category_recipes_path(@recipe.category.id), class: 'btn btn-sm btn-custom' %>
  <div class="show-recipe_photo">
    <%= cl_image_tag @recipe.photo.key %>
  </div>
  <%= simple_form_for [@recipe, @review] do |f| %>
    <%= f.input :rating, collection: %i[1 2 3 4 5], label: 'Rating de la 1 la 5', label_html: { class: 'form-fonts' } %>
    <%= f.input :content, label: 'Recenzie (min. 10 / max. 50 car.)', label_html: { class: 'form-fonts' } %>
    <%= f.button :submit, value: 'Posteaza recenzia', class: 'btn btn-custom btn-block' %>
  <% end %>
</div>
<br>
<div class="container pb-5 edit-fonts">
  <div class="row">
    <div class="col">
      <div class="rating-card_holder">
        <h5 class='text-center'>Rating & reviews</h5>
        <% @recipe.reviews.each do |rev| %>
        <div>
          <p>Recenzie (id: <%= rev.id %>) - Rating: <%= '⭐️' * rev.rating %><%= "(#{rev.rating})" %></p>
          <p class="review-font"><%= rev.content %></p>
          <p>Autor: <%= rev.user.email.split('@').first.capitalize %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Înapoi', category_recipes_path(@recipe.category.id), class: 'btn btn-sm btn-custom' %>
</div>