<div class="container fonts-family">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 mt-5 pt-5">
      <% if  @recipe.id%>
        <p class="text-center color-fonts mt-5 mb-4 fonts-700 rem1-5">Modifică rețeta</p>
      <% else %>
        <p class="text-center color-fonts mt-5 mb-4 fonts-700 rem1-5">Adaugă o rețetă</p>
      <% end %>

      <%= simple_form_for [@category, @recipe] do |f| %>
        <%= f.input :name, label: 'Numele rețetei', placeholder: 'Ex.: Boema, Tort cu ciocolată', label_html: { class: 'color-fonts fonts-700 rem1-3' } %>
        <%= f.input :content, label: 'Descrierea rețetei', label_html: { class: 'color-fonts fonts-700 mt-2 rem1-3' } %>
        <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: {class: 'btn btn-block button-default button-rounded'}, class: 'rem1-3' %>
        
        <% if  @recipe.id%>
          <%= f.button :submit, value: 'Modifică rețeta', class: 'btn button-default btn-block mt-5 button-rounded' %>
        <% else %>
          <%= f.button :submit, value: 'Adaugă o rețetă', class: 'btn button-default btn-block mt-5 button-rounded' %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>