<p class="text-center font-weight-bold form-title">Creează o nouă categorie</p>

<%= simple_form_for @category do |f| %>
  <%= f.input :name, label: 'Nume categorie', placeholder: 'Ex.: Torturi, Prajituri' %>
  <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: { class: 'btn btn-custom-color btn-block' } %>
  <!-- <%= # f.input :has_recipe, label: 'Are rețetă?' %> -->
  <%= f.input :has_models, label: 'Are modele de expus?' %>
  <%= f.button :submit, value: 'Categorie nouă', class: 'btn btn-danger btn-block' %>
<% end %>
