<% content_for(:title) {'Creează o nouă categorie - Cofetăria Irina - Bacău'} %>

<div class="container new-recipe_container edit-fonts">
  <div class="row">
    <div class="col">
      <h4 class="text-center edit-fonts mt-5 mb-4">Adaugă o rețetă</h4>
      <%= simple_form_for [@category, @recipe] do |f| %>
        <%= f.input :name, label: 'Numele rețetei', placeholder: 'Ex.: Boema, Tort cu ciocolată' %>
        <%= f.input :content, label: 'Descrierea rețetei' %>
        <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: {class: 'btn btn-custom-1 btn-block'} %>
        <%= f.button :submit, value: 'Creează rețeta', class: 'btn btn-custom btn-block edit-fonts' %>
      <% end %>
    </div>
  </div>
</div>