<% if @recipe.id %>
  <% content_for(:title) {'Modifică rețeta - Cofetăria Irina - Bacău'} %>
<% else %>
  <% content_for(:title) {'Rețetă nouă - Cofetăria Irina - Bacău'} %>
<% end %>

<div class="container new-recipe_container edit-fonts">
  <div class="row">
    <div class="col">
      <% if  @recipe.id%>
        <h4 class="text-center edit-fonts mt-5 mb-4">Modifică rețeta</h4>
      <% else %>
        <h4 class="text-center edit-fonts mt-5 mb-4">Adaugă o rețetă</h4>
      <% end %>

      <%= simple_form_for [@category, @recipe] do |f| %>
        <%= f.input :name, label: 'Numele rețetei', placeholder: 'Ex.: Boema, Tort cu ciocolată' %>
        <%= f.input :content, label: 'Descrierea rețetei' %>
        <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: {class: 'btn btn-custom-1 btn-block'} %>
        
        <% if  @recipe.id%>
          <%= f.button :submit, value: 'Modifică rețeta', class: 'btn btn-custom btn-block edit-fonts' %>
        <% else %>
          <%= f.button :submit, value: 'Creează rețeta', class: 'btn btn-custom btn-block edit-fonts' %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>