    <div class="forms-main-container">
      <% if @category.id %>
        <p class="text-center my-5">Modifică categoria</p>
      <% else %>
        <p class="text-center my-5">Categorie nouă</p>
      <% end %>
      <%= simple_form_for @category do |f| %>
        <%= f.input :name, label: 'Numele categoriei', placeholder: 'Ex.: Torturi, Prăjituri', label_html: { class: '' } %>
        <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: { class: '' } %>
        <%= f.input :has_recipe, label: 'Are rețetă?', label_html: { class: '' }, class: '' %>
        <%= f.input :has_models, label: 'Are modele de expus?', label_html: { class: '' } %>
        <div class='d-flex justify-content-center my-5'>
          <% if @category.id %>
            <%= f.button :submit, value: 'Modifică categoria', class: 'btn-default' %>
          <% else %>
            <%= f.button :submit, value: 'Categorie nouă', class: 'btn-default' %>
          <% end %>
        </div>
      <% end %>
    </div>