<% if @category.id %>
<% content_for(:title) {'Modifică categoria - Cofetăria Irina - Bacău'} %>
<% else %>
<% content_for(:title) {'Creează o nouă categorie - Cofetăria Irina - Bacău'} %>
<% end %>

<div class="container edit-fonts">
  <div class="row">
    <div class="col">
      <% if @category.id %>
      <h4 class="text-center font-weight-bold mt-5 mb-4 edit-fonts">Modifică categoria</h4>
      <% else %>
        <h4 class="text-center font-weight-bold mt-5 mb-4 edit-fonts">Creează o nouă categorie</h4>
      <% end %>
      <%= simple_form_for @category do |f| %>
      <%= f.input :name, label: 'Nume categorie', placeholder: 'Ex.: Torturi, Prăjituri' %>
      <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: { class: 'btn btn-custom-1 btn-block' } %>
      <%= f.input :has_recipe, label: 'Are rețetă?' %>
      <%= f.input :has_models, label: 'Are modele de expus?' %>
        <% if %>
          <%= f.button :submit, value: 'Modifică categoria', class: 'btn btn-custom btn-block' %>
        <% else %>
          <%= f.button :submit, value: 'Categorie nouă', class: 'btn btn-custom btn-block' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>