  <% if @cakemodel.id %>
  <%= content_for(:title) {"Modifică sugestie de prezentare - Cofetăria Irina Bacău"} %>
  <% else %>
  <%= content_for(:title) {"Sugestie de prezentare nouă - Cofetăria Irina Bacău"} %>
  <% end %>
  <div class="cakemodel-form__page">
    <div class="cakemodel-form">
      <div class="cakemodel-form__title">
        <% if @cakemodel.id %>
          <h1>Modifică sugestie</h1>
        <% else %>
          <h1>Sugestie nouă</h1>
        <% end %>
      </div>
          <%= simple_form_for [@category, @cakemodel] do |f| %>
          <%= f.input :name, label: false, placeholder: 'Nume model'  %>
          <%= f.input :design_id, collection: @designs, prompt: 'Alege designul', label: false %>
          <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: { class: 'btn button-default btn-block button-rounded' } %>
    
          <% if @cakemodel.id %>
            <%= f.button :submit, value: 'Modifică model', class: 'btn button-default btn-block button-rounded mt-5' %>
          <% else %>
            <%= f.button :submit, value: 'Model nou', class: 'btn button-default btn-light button-rounded mt-5' %>
          <% end %>
        <% end %>
    </div>
  </div>