<% if @cakemodel.id %>
  <%= content_for(:title) {"Modifică model - Cofetăria Irina Bacău"} %>
<% else %>
  <%= content_for(:title) {"Model nou - Cofetăria Irina Bacău"} %>
<% end %>
<div class="container edit-fonts">
  <div class="row">
    <div class="col mt-5">
      <h5 class="text-center edit-fonts mb-5">Creează un nou model</h5>
      <%= simple_form_for [@category, @cakemodel] do |f| %>
        <%= f.input :content, label: 'Conținut' %>
        <%= f.input :photo, as: :file, label: 'Alege fotografia', label_html: { class: 'btn btn-custom-1 btn-block' } %>
        <% if @cakemodel.id %>
          <%= f.button :submit, value: 'Modifică model', class: 'btn btn-block btn-custom' %>
        <% else %>
          <%= f.button :submit, value: 'Model nou', class: 'btn btn-block btn-custom' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>