<% if @review %>
  @target = @review
<% elsif @cakemodel %>
  @target = @cakemodel
<% end %>

<% @reviews.each do |rev| %>
  <% if rev.approved %> 
    <div class="recipe-reviews-card">
      <p><%= "Recenzie (id:#{rev.id}) - Rating: #{ "⭐️" * rev.rating} (#{rev.rating})" %></p>
      <p><%= rev.content %></p>
      <p><%= "Autor: #{rev.author}" %></p>
      <p><%= "Scrisă la: #{rev.created_at.to_s.split(' ')[0]}" %></p>
    </div>

    <% elsif current_user.admin %>
        <div class="recipe-reviews-card">
          <p><%= "Recenzie (id:#{rev.id}) - Rating: #{ "⭐️" * rev.rating} (#{rev.rating})" %></p>
          <p><%= rev.content %></p>
          <p><%= "Autor: #{rev.author}" %></p>
          <p><%= "Scrisă la: #{rev.created_at.to_s.split(' ')[0]}" %></p>
          <% if !rev.approved %>
            <p style="color:red">⚠️ Recenzie care trebuie revizuită!</p>
            <%= simple_form_for([ @target, rev ]) do |f| %>
              <%= f.input :approved %>
              <%= f.button :submit, value: 'Update', class: 'btn-default' %>
            <% end %>
          <% end %>
        </div>

    <% elsif rev.user == current_user %>
      <div class="recipe-reviews-card">
        <p>Recenzie primită</p>
        <p>Recenzia ta <%= rev.author %>, scrisă la <%= "#{rev.created_at.to_s.split(' ')[0]}" %> va fi revizuită și dacă corespunde standardelor noastre privind limbajul, va fi publicată!</p>
        <p>Îți mulțumim!</p>
      </div>
  <% end %>
<% end %>