<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto edit-fonts">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link_custom edit-fonts" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categorii de produse", categories_path, class: "nav-link_custom edit-fonts" %>
        </li>

        <% Category.all.each do |cat| %>
        <li class="nav-item">
            <%= link_to cat.name, category_recipes_path(cat.id),class: "nav-link_custom" %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link_custom edit-fonts" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link_custom edit-fonts" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
