<div class="navbar navbar-expand-lg navbar-light navbar-lewagon p-0" style="background: <%= navbar_color %> !important;">
  <nav class="navbar navbar-expand-lg navbar-light navbar-lewagon p-0" style="background: <%= navbar_color %> !important;">
    <object>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-white.png", alt: 'Cofetăria Irina Bacău' %>
      <% end %>
    </object>
      <div class="navbar-title d-flex align-items-center">
        <p class="text-center m-0"><%= @page_main_title %></p>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-birthday-cake navbar-custom"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center" style="background: <%= navbar_color %> !important;">
        <li class="">
          <%= simple_form_for :search, url: cautare_retete_path, method: 'GET' do |f| %>
          <div class="d-flex gap-2">
            <%= f.input :search_for, label: false, placeholder: 'Caută rețetă' %>
            <%= f.submit 'Caută', class: "btn btn-dark" %>
          </div>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to "Categorii", categories_path, class: "nav-link text-center" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produse</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% Category.all.each do |cat| %>
            <% if cat.has_recipe %>
              <%= link_to cat.name, category_recipes_path(cat), class: "dropdown-item text-center" %>
            <% end %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <% cart = current_cart %>
          <% cart_items_count = cart.present? ? cart.items.count : 0 %>
          <%= link_to shop_cart_path,
                      class: "nav-link text-center position-relative",
                      aria: { label: 'Coșul meu' } do %>
            <i class="fa-solid fa-basket-shopping"></i>
            <% if cart_items_count.positive? %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                <%= cart_items_count %>
              </span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sugestii</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% Category.all.each do |cat| %>
              <% if cat.has_models %>
                <%= link_to cat.name, category_cakemodels_path(cat), class: "dropdown-item text-center" %>
            <% end %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  text-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Cum comand?', how_to_order_path, class: "dropdown-item text-center" %>
            <%= link_to 'Despre noi', about_path, class: "dropdown-item text-center" %>
            <%= link_to 'Valori nutriționale', valori_nutritionale_path, class: "dropdown-item text-center" %>
          </div>
        </li>
        <!-- <li class="nav-item active">
          <%if user_signed_in? && current_user.admin  %>
          <%= link_to cart_path do %>
            <i class="fab fa-opencart nav-link text-center"></i>
          <% end %>
          <% end %>
        </li> -->
        
        <li class="nav-item dropdown">
          <a class="nav-link text-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
          <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in? %>
              <% if current_user.admin %>
                <div class="dropdown-item">
                  <%= link_to "Dashboard Administrare", dashboard_path, class: "dropdown-item text-center" %>
                </div>
                <div class="dropdown-divider"></div>
              <% end %>
  
            <div class="dropdown-item">
              <%= link_to "Contul meu", account_path, class: "dropdown-item text-center" %>
            </div>
            <div class="dropdown-item">
              <%= link_to "Modifică cont, #{current_user.name_from_mail}", edit_user_registration_path, class: "dropdown-item text-center" %>
            </div>
          <div class="dropdown-item">
            <%= link_to "Log out, #{current_user.name_from_mail}", destroy_user_session_path,  data: { turbo_method: :delete }, class: "dropdown-item text-center" %>
          </div>
        <% else %>
          <div class="dropdown-item">
            <%= link_to "Login", new_user_session_path, class: "dropdown-item text-center" %>
          </div>
        <% end %>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="navbar-wave">
    <svg id="wave" class="hero-wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 150" version="1.1" xmlns="http://www.w3.org/2000/svg"><path style="transform:translate(0, 0px); opacity:1" fill="<%= hero_wave_color %>" d="M0,105L10,102.5C20,100,40,95,60,97.5C80,100,100,110,120,100C140,90,160,60,180,50C200,40,220,50,240,55C260,60,280,60,300,67.5C320,75,340,90,360,90C380,90,400,75,420,77.5C440,80,460,100,480,110C500,120,520,120,540,100C560,80,580,40,600,37.5C620,35,640,70,660,80C680,90,700,75,720,80C740,85,760,110,780,112.5C800,115,820,95,840,77.5C860,60,880,45,900,45C920,45,940,60,960,67.5C980,75,1000,75,1020,62.5C1040,50,1060,25,1080,30C1100,35,1120,70,1140,90C1160,110,1180,115,1200,117.5C1220,120,1240,120,1260,122.5C1280,125,1300,130,1320,127.5C1340,125,1360,115,1380,100C1400,85,1420,65,1430,55L1440,45L1440,150L1430,150C1420,150,1400,150,1380,150C1360,150,1340,150,1320,150C1300,150,1280,150,1260,150C1240,150,1220,150,1200,150C1180,150,1160,150,1140,150C1120,150,1100,150,1080,150C1060,150,1040,150,1020,150C1000,150,980,150,960,150C940,150,920,150,900,150C880,150,860,150,840,150C820,150,800,150,780,150C760,150,740,150,720,150C700,150,680,150,660,150C640,150,620,150,600,150C580,150,560,150,540,150C520,150,500,150,480,150C460,150,440,150,420,150C400,150,380,150,360,150C340,150,320,150,300,150C280,150,260,150,240,150C220,150,200,150,180,150C160,150,140,150,120,150C100,150,80,150,60,150C40,150,20,150,10,150L0,150Z"></path></svg>
  </div>
</div>