<% content_for (:title) { 'Cofetăria Irina - Bacău, str. Miorița, nr. 10' } %>
<% if Date.today() < Date.new(2022, 4, 24) %>
    <%= render 'shared/easter_modal_2021' %>
<% end %>
<div class="home-main__container">
  <%= render partial: 'partials/homepage/hero_section' %>
  <div class="hero-wave__container">
    <%= image_tag('hero-wave.svg', class: 'hero-wave') %>
  </div>
  <%#= render partial: 'partials/homepage/squares' %>
  <%= render partial: 'partials/homepage/samples' %>
  <%#= render partial: 'partials/homepage/features' %>
  <%= render partial: 'partials/homepage/info' %>
</div>