<% content_for (:title) { 'Cofetăria Irina - Bacău, str. Miorița, nr. 10' } %>
<% if Date.today() < Date.new(2022, 4, 24) %>
    <%= render 'shared/easter_modal_2021' %>
<% end %>
<%= render 'shared/disclaimer_modal' %>
<div class="home-main__container">
  <%= render partial: 'partials/homepage/hero_section' %>
  <%= render partial: 'partials/homepage/squares' %>
  <%= render partial: 'partials/homepage/samples' %>
  <%= render partial: 'partials/homepage/info' %>
</div>