<div class="container-fluid">
  <div class="row mx-1 justify-content-center">
    <div class="col-12 col-md-6 mt-5 pt-5 color-fonts font-family">
      <table class="mt-5">
        <h1 class='mt-5 font-family'>Coșul dvs. </h1>
        <tr class="text-left rem1-1">
          <th>Produs</th>
          <th>Preț</th>
          <th>Cantitate</th>
          <th></th>
          <th>Total</th>
        </tr>

        <% @items.each do |i| %>
        <tr class="rem1">
          <div>
            <td class="pr-1"><%= i.name %></td>
            <td class="pr-1"><%= i.price %></td>
          </div>
          <div class="cart-update-items rem1">
            <%= simple_form_for i do |f| %>
              <td class="pl-1 quantity-input"><%= f.input :quantity, label: false %></td>
              <td class="pl-1"><%= f.button :button do %>
                <i class="fas fa-sync-alt color-fonts"></i>
              <% end %>
              </td>
            <% end %>
          </div>
          <td class="px-1"><%= i.total %></td>
          <td class="px-1">
            <%= link_to item_path(i), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
        <% end %>

      </table>
      <h3 class="my-5"><%= link_to "Sumar comandă (#{@cart.grand_total} lei)", root_path, class: 'btn btn-lg button-default button-rounded mb-5 font-family px-4 py-2 rem1' %></h3>
      </div>
  </div>
</div>