<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #321F28;
    color: #bb8b7a;
    font-family: 'Montserrat';
    padding: 120px 0 0;
  }
  .review-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    padding: 10px 30px;
    background-color: #000;
    text-align: left;
    border-radius: 4px;
    padding: 30px 50px;
  }
  
  a {
    position: relative;
    margin: 0 auto;
    color: #bb8b7a;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }

  img {
    border-radius: 5px;
    max-width: 100%;
  }

@media (min-width: 576px) {
  .mail-container {
    width: 60%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
  }
  .review-container {
    width: 50%;
  }
}
  </style>


<div class="mail-container">
  <h1>Salut, <%= @user.email.split('@')[0].capitalize %>!</h1>
  <p>Ai scris o nouă recenzie:</p>
  <div class="review-container">
    <p>Rating: <%= @review.rating %> ⭐️</p>
    <p>Text: <%= @review.content %></p>
    <% if @review.reviewable_type == 'Recipe' %>
      <% @recipe = Recipe.find { |rec| rec.id == @review.reviewable_id }  %>
      <% @address = 'recipes' %>
      <p>Produs: <%= @recipe.name %></p>
      <p>Categorie de produs: <%= Category.find { |cat| cat.id == @recipe.category_id }.name %></p>
      <% if !@recipe.photo.present? %>
        <%= link_to  "https://www.irinasweet.ro/#{@address}/#{@recipe.id}" do %>
          <%= cl_image_tag("0043_336x240_qtzdxl", alt: @recipe.name, fetch_format: :webp, width: 500, crop: :scale) %>
        <% end %>
      <% elsif @recipe.photo.present? %>
        <%= link_to  "https://www.irinasweet.ro/#{@address}/#{@recipe.id}" do %>
          <%= cl_image_tag(@recipe.photo.key, alt: @recipe.name, fetch_format: :webp, width: 500, crop: :scale) %>
        <% end %>
      <% end %>
    <% elsif @review.reviewable_type == 'Cakemodel'%>
    <% @cakemodel = Cakemodel.find { |cm| cm.id == @review.reviewable_id}  %>
    <% @address = 'cakemodels' %>
    <p>Produs: <%= @cakemodel.name %></p>
    <p>Categorie de produs: <%= Category.find { |cat| cat.id == @cakemodel.category_id }.name %></p>
    <p>Mergi la produs: <%= link_to @cakemodel.name,  "https://www.irinasweet.ro/#{@address}/#{@cakemodel.id}" %></p>
    <% end %>
  </div>
  <p>Vom verifica recenzia ta și dacă va fi aprobată, va deveni vizibilă pentru toți vizitatorii website-ului nostru.</p>
  <p><%= link_to '👉 Lasă-te inspirat de produsele noastre', root_url %></p>
  <p style="margin: 0;">Constantin-Gabriel Ursache</p>
  <p style="margin: 0;">- Founder & Owner Irina SweetShop S.R.L. -</p>
</div>
