<!-- to be deleted -->

<!-- <% @cakemodels.each do |cakemodel| %>
<div class="card-container">
  <%= link_to cakemodel_path(cakemodel) do %>
    <div class="link-container">
      <%= cl_image_tag cakemodel.photo.key, alt: cakemodel.content, class: 'card-image' %>
        <div class='card-title'><p><%= "Model ##{cakemodel.id}" %></p></div>
      </div>
      <% end %>
      
    <p class="card-rating">
      <%= "#{cakemodel.overall_rating.to_f.round(2)}"%> <%= '⭐️' *
      cakemodel.overall_rating.to_i %> <%= cakemodel.no_of_ratings %>
    </p>
  <div class='card-crud'>
    <% if policy(cakemodel).edit? %>
    <%= link_to edit_category_cakemodel_path(cakemodel.category, cakemodel) do %>
    <i class="far fa-edit color-fonts"></i>
    <% end %>
    <% end %>
    <% if policy(cakemodel).destroy? %>
    <%= link_to category_cakemodel_path(cakemodel.category, cakemodel), method: :delete do %>
    <i class="fas fa-trash-alt color-fonts"></i>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
      <% if policy(Cakemodel).new? %>
        <%= link_to 'Model nou', new_category_cakemodel_path(@category), class: 'btn-default' %>
      <% end %>
  </div>
</div> -->
