    <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do %>
    <div class="col-11 col-md-5 mx-md-3 col-xl-4 mx-xl-5 card-container">
    <% if recipe.photo.present? %>
      <%= cl_image_tag recipe.photo.key, alt: recipe.name,class: 'card-image' %> <br>
    <% else %>
      <%= cl_image_tag ("4792t30n2v5ovn35m550ffa45a24.png"), alt: recipe.name, class: 'card-image' %> <br>
    <% end %>
      <p class='text-center pt-1 card-name font-titles color-fonts'><%= "#{recipe.name}" %></p>
      <div class='recipe-card_rating-total'>
        <p class='text-center fonts-family color-fonts'><%= "#{recipe.overall_rating.to_f.round(2)}"%>
          <%= '⭐️' * recipe.overall_rating.to_i %> <%= recipe.no_of_ratings %> </p>
      </div>
      <div
        class="recipe-price-holder d-flex flex-column justify-content-center align-items-center font-family color-fonts">
        <p class="recipe-price text-center m-0 p-0 recipe-price-text_shadow">
          <%= humanized_money_with_symbol(recipe.price) %></p>
        <p class="p-0 m-0 rem1-2 recipe-price-text_shadow"><%= recipe.kg_buc %></p>
      </div>
      <% end %>

      <% if current_user && current_user.admin%>
      <div class='recipe-card_admin-links'>
        <% if policy(recipe).edit? %>
        <%= link_to edit_category_recipe_path(recipe.category_id, recipe.id) do %>
        <i class="far fa-edit color-fonts"></i>
        <% end %>
        <% end %>
        <% if policy(recipe).destroy? %>
        <%= link_to category_recipe_path(recipe.category_id, recipe.id), method: :delete do %>
        <i class="fas fa-trash-alt color-fonts"></i>
        <% end %>
        <% end %>
      </div>
      <% end %>

    </div>
    <% end %>


    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class='col-10 col-md-5 col-lg-5 font-family'>
          <% if policy(Recipe).new? %>
          <%= link_to 'Rețetă nouă', new_category_recipe_path(@category.id), class: 'btn button-rounded button-default button-new-recipe_setup my-5' %>
          <% end %>
        </div>
      </div>
    </div>