<div class="squares-menu">
    <%= link_to do %>
      <div class="square">
        <p class='home-fontawsome'><i class="fas fa-cookie-bite"></i></p>
        <p>200+ de rețete</p> <p>de prăjituri</p>
      </div>
    <% end %>
    <%= link_to do %>
      <div class="square">
        <p class='home-fontawsome'><i class="fas fa-birthday-cake"></i></p>
        <p>Sute de modele</p><p>de torturi</p>
      </div>
    <% end %>
    <%= link_to do %>
      <div class="square">
      <p class='home-fontawsome'><i class="far fa-image"></i></p>
      <p>Fotografii</p> <p>comestibile</p>
      </div>
    <% end %>
    <%= link_to do %>
      <div class="square">
      <p class='home-fontawsome'><i class="fas fa-seedling"></i></p>
      <p>Produse</p><p>naturale</p>
      </div>
    <% end %>
    <%= link_to do %>
      <div class="square">
      <p class='home-fontawsome'><i class="fas fa-home"></i></p>
      <p>Produse</p> <p>tradiționale</p>
      </div>
    <% end %>
    <%= link_to do %>
      <div class="square">
      <p class='home-fontawsome'><i class="fa-solid fa-champagne-glasses"></i></p>
      <p>Candy</p><p>bar</p>
      </div>
    <% end %>
  </div>