
<div class="col-12 col-md-5 card-container">
  <%= link_to category_path(category) do %>
    <%= cl_image_tag category.photo.key, alt: category.name , class: 'card-image'%>
    <div class="card-category_name">
      <p class='button-default'><%= category.name %></p>
    </div>
  <% end %>
  <p class='text-center justify-content-around my-2 category-index-hover'>
    <% if policy(category).edit? %>
      <%= link_to edit_category_path(category.id),
      class: 'btn btn-sm button-default button-rounded' do %>
      <i class="far fa-edit color-fonts"></i>
    <% end %>
    <% end %>
    <% if policy(category).destroy? %>
    <%= link_to category_path(category), class: 'btn btn-sm button-default button-rounded', method: :delete do %>
      <i class="fas fa-trash-alt color-fonts"></i>
    <% end %>
  </p>
  <% end %>
</div>
