<div class='card-container'>
  <%= link_to category_recipes_path(category), class: 'card-paths-link' do %>
    <div class="card-link">
      <div class="card-link-container">
        <div class="card-image">
          <% if category.photo.present? %>
          <%# binding.pry %>
          <%#= category.name %>
          <%= cl_image_tag(category.photo.key, alt: category.name , class: 'card-image')%>
          <% else %>
          <%#= cl_image_tag(choose_photo) %>
          <% end %>
        </div>
          <p class="card-title"><%= category.name.upcase %></p>
        </div>
      </div>
    <% end %>

  <!-- <div class="card-paths hidden">
    <% if category.has_recipe && category.has_models %>
        <%= link_to 'Rețete', category_recipes_path(category), class: 'card-paths-link'  %>
        <%= link_to 'Sugestii', category_cakemodels_path(category), class: 'card-paths-link' %>
      <% elsif category.has_recipe %>
        <%= link_to 'Rețete', category_recipes_path(category), class: 'card-paths-link' %>
      <% elsif category.has_models %>
        <%= link_to 'Sugestii', category_cakemodels_path(category), class: 'card-paths-link' %>
      <% end %>
  </div> -->
  <div class="card-crud">
    <% if policy(category).edit? %>
      <%= link_to edit_category_path(category.id), class: '' do %>
      <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(category).destroy? %>
      <%= link_to category_path(category), class: '', method: :delete do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
  