<div class="col-11 col-sm-9 col-md-5 mx-md-2 col-xl-4 mx-xl-5 card-container">
  <%= link_to category_path(category) do %>
    <%= cl_image_tag category.photo.key, alt: category.name , class: 'card-image'%>
      <p class='card-name button-default text-center pt-3 animated lightSpeedIn'><%= category.name.upcase %></p>
  <% end %>

  <div class="category-index-crud-buttons position-absolute">
    <p class='text-center justify-content-around my-2'>
      <% if policy(category).edit? %>
        <%= link_to edit_category_path(category.id),
        class: 'button-default button-rounded' do %>
        <i class="far fa-edit color-fonts rem075"></i>
        <% end %>
      <% end %>

      <% if policy(category).destroy? %>
        <%= link_to category_path(category), class: 'button-default button-rounded', method: :delete do %>
        <i class="fas fa-trash-alt color-fonts rem075"></i>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
