<div class='card-container'>
  <%= link_to category_recipes_path(category), class: 'card-paths-link' do %>
    <div class="card-link">
      <div class="card-link-container">
        <div class="card-image">
          <% if category.photo.present? %>
          <%= cl_image_tag(category.photo.key, alt: category.name, class: 'card-image', fetch_format: :auto, width: 600, crop: :scale, width: 500, crop: :scale) %>
          <% end %>
        </div>
          <p class="card-title"><%= category.name %></p>
        </div>
      </div>
    <% end %>
  <div class="card-crud">
    <% if policy(category).edit? %>
      <%= link_to edit_category_path(category), class: '' do %>
      <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(category).destroy? %>
      <%= link_to category_path(category), class: '', method: :delete do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
  