<div class='card-container' style="background-image: url('<%= cl_image_path(category.photo.key) %>');" data-controller="general" data-general-target="container" data-action="mouseenter->general#show mouseleave->general#hide">
  <% cat_link = category.has_models && !category.has_recipe ? category_cakemodels_path(category) : category_recipes_path(category) %>
  <%= link_to cat_link, class: 'card-paths-link' do %>
    <h3 data-general-target="title"><%= category.name %></h3>
    <% end %>
  <div class="card-crud">
    <% if policy(category).edit? %>
      <%= link_to edit_category_path(category), class: '' do %>
      <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(category).destroy? %>
      <%= link_to category_path(category), class: '', method: :delete do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>