<%= link_to category_path(category) do %>
  <div class='card-container'>
    <div class="card-title">
      <p><%= category.name.upcase %></p>
    </div>
    <div class="card-image">
      <% if  category.photo.present? %>
        <%= cl_image_tag category.photo.key, alt: category.name , class: 'card-image'%>
      <% else %>
        <%= image_tag('https://res.cloudinary.com/dqbu9lypc/image/upload/v1590146283/txt5oys3fa14wlw8eq6l3ulu64zu.png') %>
      <% end %>
    </div>
    <div class="card-brown-square"></div>
    <div class="card-crud">
      <% if policy(category).edit? %>
        <%= link_to edit_category_path(category.id),
        class: '' do %>
        <i class="far fa-edit"></i>
        <% end %>
      <% end %>

      <% if policy(category).destroy? %>
        <%= link_to category_path(category), class: '', method: :delete do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
  