<% content_for(:title) {'Categorii de produse - Cofetăria Irina - Bacău'} %>
<div class="container-fluid cards-container pt-5 pb-5 mb-5">
  <div class="row justify-content-around my-5">
    <% @categories.each do |c| %>
    <div class="col-10 mx-xs-3 col-sm-10 mx-sm-1 col-md-5 mx-md-1 col-lg-4 col-xl-3 mx-xl-1 card-container">
      <%= cl_image_tag c.photo.key, class: 'card-image'%>
      <div class="card-category_name">
        <p class='card-title edit-fonts'><%=  c.name %></p>
      </div>
      <p class='text-center justify-content-around my-2 edit-fonts'>
        <% if c.has_recipe %>
        <%= link_to 'Rețete', category_recipes_path(c.id) %>
        <% end %>
        <% if c.has_models %>
        <%= link_to 'Modele', category_cakemodels_path(c.id) %>
        <% end %>
        <% if policy(c).edit? %>
        <%= link_to 'Edit', edit_category_path(c.id) %>
        <% end %>
        <% if policy(c).destroy? %>
        <%= link_to 'Delete', category_path(c), method: :delete %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <% if policy(Category).new? %>
  <div>
    <p class="btn btn-block my-5 edit-fonts rounded-pill new-button_bottom"><%= link_to 'Categorie nouă', new_category_path %></p>
  </div>
  <% end %>
</div>
