<% content_for(:title) {"Modele de #{Category.find(params[:category_id]).name.downcase }"} %>
<div class="container recipe-cards_container pt-5 mb-5 pb-5">
  <h3 class='text-center recipe-cards_title pt-2'><%= Category.find(params[:category_id]).name %> <span
      class="small-letters">(<%= @cakemodels.count %>)</span></h3>
  <div class="row justify-content-center mb-5">
    <% @cakemodels.each do |cm| %>
    <div class="col-sm-12 edit-fonts mt-5 cakemodel-container p-0">
      <%= cl_image_tag cm.photo.key, class: 'cakemodel-image'%> <br>
        <p class='text-center pt-1 border-bottom font-content edit-fonts color-fonts'><%= cm.content %></p>
        <p class='text-center font-rating color-fonts'><%= "#{cm.overall_rating.to_f.round(2)}"%> <%= '⭐️' * cm.overall_rating.to_i %> <%= cm.no_of_ratings %> </p>
      <%= link_to 'Rating & recenzii', cakemodel_path(cm.id), class: 'text-center btn btn-custom-1 btn-block mb-2'%>

      <div class="recipe-card_admin-links">
        <p class="text-center">
          <% if policy(cm).edit? %>
          <%= link_to 'Edit', edit_category_cakemodel_path(cm.category_id, cm.id), class: 'btn btn-custom-1 btn-sm rounded-pill' %>
          <%= link_to 'Delete', category_cakemodel_path(cm.category_id, cm.id), method: :delete, class: 'btn btn-custom-1 btn-sm rounded-pill' %>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>

  </div>
  <% if policy(Cakemodel).new? %>
  <div>
    <p class="btn new-button_bottom edit-fonts rounded-pill btn-block mb-5">
      <%= link_to 'Adaugă model', new_category_cakemodel_path(params[:category_id]) %></p>
    <% end %>
  </div>
</div>