<% content_for(:title) { "Modele de #{Category.find(params[:category_id]).name.downcase } - Cofetăria Irina Bacău" } %>
<div class="container recipe-cards_container pt-5 mb-5 pb-5">
  <%= link_to 'Înapoi', categories_path, class: 'btn button-default button-rounded fonts-family color-fonts mt-5' %>

  <h3 class='text-center recipe-cards_title pt-2'><%= Category.find(params[:category_id]).name %> <span
      class="small-letters">(<%= @cakemodels.count %>)</span></h3>
  <div class="row justify-content-around mb-5">
    <% @cakemodels.each do |cm| %>
    <div class="col-sm-10 col-md-5 col-lg-5 edit-fonts my-5 mx-1 cakemodel-container p-0 fonts-family rem1-3">
      <%= cl_image_tag cm.photo.key, class: 'd-block border-bottom' %>
      <p class='text-center color-fonts cakemodel-content py-2 px-2 rem1-2'><%= cm.content %></p>
      <p class='text-center color-fonts cakemodel-rating rem1'><%= "#{cm.overall_rating.to_f.round(2)}"%> <%= '⭐️' * cm.overall_rating.to_i %> <%= cm.no_of_ratings %> </p>
      <%= link_to 'Adaugă o recenzie', cakemodel_path(cm.id), class: 'btn btn-block text-center position-absolute button-review-setup button-default px-2 py-1'%>
      <div class="recipe-card_admin-links position-absolute rem1">
          <% if policy(cm).edit? %>
          <%= link_to edit_category_cakemodel_path(cm.category_id, cm.id) do %>
            <i class="far fa-edit color-fonts ml-4"></i>
          <% end %>
          <%= link_to category_cakemodel_path(cm.category_id, cm.id), method: :delete do %>
            <i class="fas fa-trash-alt color-fonts"></i>
          <% end %>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to 'Înapoi', categories_path, class: 'btn button-default button-rounded fonts-family color-fonts' %>
  <br>
  <% if policy(Cakemodel).new? %>
      <%= link_to 'Model nou', new_category_cakemodel_path(params[:category_id]), class: 'btn button-rounded button-default button-new-recipe_setup my-5' %>
    <% end %>
</div>