<% content_for(:title) { "Modele de #{Category.find(params[:category_id]).name.downcase } - Cofetăria Irina Bacău" } %>
<div class="container recipe-cards_container pt-5 mb-5 pb-5">
  <%= render 'partials/back_buttons' %>
  <p class='text-center recipe-cards_title mt-5 rem1-5'><%= "Modele de #{Category.find(params[:category_id]).name.downcase}" %> <span
      class="small-letters">(<%= @cakemodels.count %>)</span></p>
  <div class="row justify-content-around mb-2">
    <%= render @cakemodels %>
  </div>
  <%= render 'partials/back_buttons' %>
  <div>
    <% if policy(Cakemodel).new? %>
        <%= link_to 'Model nou', new_category_cakemodel_path(params[:category_id]), class: 'btn button-rounded button-default button-new-recipe_setup my-5' %>
      <% end %>
  </div>
</div>