<%= content_for(:title) {"Recenzii pentru #{@cakemodel.content}"} %>

<div class="container fonts-family pt-5 pb-5 mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-10 col-md-8 mt-5">
      <%= render 'partials/back_button_show-page' %>
      <div class="show-recipe_photo">
        <%= cl_image_tag @cakemodel.photo.key %>
      </div>
      <div class="fonts-family color-fonts">
        <p class="text-center rem1-3">Ratings & reviews for: </p>
        <p class="text-center pb-4 rem1-2"><%= @cakemodel.content %> </p>
        <%= render 'partials/reviews_new_form' %>
      </div>
      <%= render 'partials/reviews_index' %>
    </div>
  </div>
  <%= render 'partials/back_button_show-page' %>
</div>