<% content_for :meta_image, cl_image_path(@cakemodel.photo.key) %>
<div class="recipe-show-container">
  <div class="recipe-show-back-btn">
    <!-- <%= render 'partials/back_buttons' %> -->
  </div>
  <div class="recipe-show-main">
      <div class="recipe-show-main-image">
        <%= cl_image_tag @cakemodel.photo.key, alt: @cakemodel.content %>
      </div>
      <div class="recipe-show-main-description">
        <h1><%= "Model ##{@cakemodel.id}" %></h1>
        <p><%= @cakemodel.content %> </p>
        <div class="btn-next-prev-container">
          <% curr_id = @cakemodels.index(@cakemodel) %>
          <% next_id = @cakemodels[curr_id + 1] %>
          <% prev_id = @cakemodels[curr_id - 1] %>
          
          <% if prev_id && curr_id > 0 %>
            <%= link_to "◀︎ Model ##{prev_id.id}", cakemodel_path(prev_id), class: 'btn-next-prev' %>
          <% end %>
          <% if next_id %>
            <%= link_to "Model ##{next_id.id} ►", cakemodel_path(next_id), class: 'btn-next-prev' %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="recipe-show-ratings">
      <h2>Ratings & reviews </h2>
      <div class="recipe-show-ratings-container">
        <div class="recipe-show-ratings-reviews-form">
          <%= render 'partials/reviews_new_form' %>
        </div>
        <div class="recipe-show-ratings-reviews-container">
          <%= render 'partials/reviews_index' %>
        </div>
      </div>
    </div>

</div>