<% if @cakemodel.photo.present? %>
  <% content_for :meta_image, cl_image_path(@cakemodel.photo.key) %>
<% end %>
<% content_for :meta_description, @cakemodel.content %>
<div class="recipe-show-container">
  <div class="recipe-show-back-btn">
    <!-- <%= render 'partials/back_buttons' %> -->
  </div>
  <div class="recipe-show-main">
      <div class="recipe-show-main-image">
        <%= cl_image_tag @cakemodel.photo.key, alt: @cakemodel.content %>
      </div>
      <div class="recipe-show-main-description">
        <h1><%= "Model ##{@cakemodel.id}" %></h1>
        <p><%= @cakemodel.content %> </p>
        <div class="btn-next-prev-container">
          <% curr_id, next_id, prev_id, prev_text, next_text = next_prev(@cakemodels, @cakemodel) %>
          <% if prev_id && curr_id > 0 %>
            <%= link_to "#{prev_text}", cakemodel_path(prev_id), class: 'btn-next-prev' %>
          <% end %>
          <% if next_id %>
            <%= link_to "#{next_text}", cakemodel_path(next_id), class: 'btn-next-prev' %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="recipe-show-ratings">
      <h2>Ratings & reviews </h2>
      <div class="recipe-show-ratings-container">
        <div class="recipe-show-ratings-reviews-form">
          <%= render 'partials/reviews_new_form' %>
        </div>
        <div class="recipe-show-ratings-reviews-container">
          <%= render 'partials/reviews_index' %>
        </div>
      </div>
    </div>

</div>