<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Website al laboratorului de cofetarie Irina din Bacau.">
    <meta name="keywords" content="Bacau, Irina, cofetaria, cofetarie, cofetarii, prajitura, prajituri, tort, onomastica, botez, nunta, majorat, cozonac, cozonaci, julfa, pasca, colac, colaci, boema, africana, romania">
    <link href="https://fonts.googleapis.com/css?family=Life+Savers:400,700&display=swap" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : 'Cofetăria Irina - Bacău' %></title>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Cofetăria Irina - Bacău" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="Website al laboratorului de cofetarie Irina din Bacau." />
    <meta property="og:site_name" content="Cofetăria Irina" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="main-container">
      <%= yield %>
      <% unless current_page?(root_path) %>
        <%= render 'shared/social' %>
      <% end %>
    </div>
    <%= render 'shared/modal_paste' %>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
