<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Life+Savers:400,700&display=swap" rel="stylesheet">
    <title>Cofetaria Irina - Bacau</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="main-container">
      <%= yield %>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
